[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
bmcolors = "python3 bmcolors/__init__.py"
